@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin: 20px auto;
    position: relative;
}

.container hr {
    transform: translate(10px , 0px);
    width: 80%;
}
.product {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    position: relative;
}
.prodImg {
    background-size: contain;
    height: 60px;
    width: 70px;
}
.container button {
    all: unset;
    color: white;
    margin: 10px 0px;
    text-align: center;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #0070F2;
}
.container button:hover {
    background-color: black;
    color: white;
}
.container button:active {
    scale: 1.1;
}